@page "/restmanagers-client-details/{Id:guid}"
@inject Crawler.Ndb.Integration.Web.Services.RestManagersApiClient ApiClient
@using Crawler.Ndb.Integration.Web.Domain.RestManager.Model

<PageTitle>REST Manager Details (API Client)</PageTitle>

<h1>REST Manager Details (API Client)</h1>

@if (restManager is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <dl class="row">
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@restManager.Name</dd>
        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">@restManager.Description</dd>
        <dt class="col-sm-2">Methods</dt>
        <dd class="col-sm-10">@string.Join(", ", restManager.Methods ?? Array.Empty<string>())</dd>
    </dl>
}

@code {
    [Parameter]
    public Guid Id { get; set; }
    private RestManager? restManager;

    protected override async Task OnInitializedAsync()
    {
        restManager = await ApiClient.GetByIdAsync(Id);
    }
}
